<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Locations Tests for Room Manager">
  <test name="Create a new Location Test">
    <classes>
      <class name="Locations.RoomManager.CreateLocationTest"/>
    </classes>
  </test>
  <test name="Delete a Location Test">
    <classes>
      <class name="Locations.RoomManager.DeleteLocationTest"/>
    </classes>
  </test>
  <test name="Update a Location Info Test">
    <classes>
      <class name="Locations.RoomManager.UpdateLocationInfoTest"/>
    </classes>
  </test>
  <test name="Create a Location with the same name Test">
    <classes>
      <class name="Locations.RoomManager.CreateLocationWithSameNameTest"/>
    </classes>
  </test>
  <test name="Assign Location to a Conference Room Test">
    <classes>
      <class name="Locations.RoomManager.LocationAssignedTest"/>
    </classes>
  </test>
</suite>